.background {
    position: relative;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(255,255,255,0.7);
    background-image: url("./assets/images/dotted_paper_bg.svg");
    background-size: cover;
    background-blend-mode: lighten;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main_content {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.trinket_top {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: end;
    top: 0;
    right: 0;
    z-index: 10;
}

.trinket_bottom {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: start;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.parallax {
    $self: &;

    &--capy_puppy, &--turtle_cookie, &--straw_cookies, &--capy_croco {
        width: 35%;
        height: auto;
    }

    &--flower {
        position: absolute;
        right: 5vw;
        top: 34vh;
        width: 19%;
        z-index: 5;
    }

    &--toaster {
        position: absolute;
        left: 5vw;
        top: 40vh;
        width: 19%;
        z-index: 5;
    }

    &--id_card {
        position: absolute;
        top: 28vh;
        left: 25vw;
        transform: rotate(10deg);
        filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
        z-index: 1;
    }

    &--passport {
        position: absolute;
        top: 47vh;
        right: 25vw;
        transform: rotate(-8deg);
        border-radius: 15px;
        filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
        z-index: 2;
    }

    &--passport:hover {
        cursor: pointer;
    }

    &--logo {
        position: absolute;
        top: 18%;
        left: 15%;
        width: 20%;
        height: auto;
        z-index: 3;
    }

    &--stamp {
        position: absolute;
        top: 60vh;
        left: 60vw;
        width: 27%;
        height: auto;
        z-index: 4;
    }
}

@media (min-width: 400px)  {
    .parallax {
        $self: &;

        &--stamp {
            width: 30%;
        }

        &--id_card, &--passport {
            width: 55%;
        }

        &--logo {
            width: 23%;
        }

        &--toaster {
            left: 5vw;
        }

        &--flower {
            top: 40vh;
            right: 2vw;
        }
    }
}

@media (min-width: 600px)  {
    .parallax {
        $self: &;

        &--stamp {
            width: 25%;
        }

        &--id_card, &--passport {
            width: 40%;
        }

        &--logo {
            width: 18%;
        }

        &--capy_puppy, &--turtle_cookie, &--straw_cookies, &--capy_croco {
            width: 23vw;
        }
    }    
}

@media (min-width: 700px)  {
    .parallax {
        $self: &;

        &--stamp {
            width: 20%;
        }

        &--id_card, &--passport {
            width: 35%;
        }

        &--logo {
            width: 15%;
        }

        &--capy_puppy, &--turtle_cookie, &--straw_cookies, &--capy_croco {
            width: 20vw;
        }

        &--flower {
            right: 20vw;
            top: 26vh;
            width: 15%;
        }

        &--toaster {
            left: 20vw;
            top: 45vh;
            width: 15%;
        }
    }    
}

@media (min-width: 1025px) {
    .trinket_top, .trinket_bottom {
        height: 22%;
    }

    .parallax {
        $self: &;

        &--logo {
            width: 10%;
            top: 5vh;
            left: 20vw;
        }

        &--id_card {
            top: 20vh;
            width: 25%;
        }

        &--passport {
            top: 48vh;
            width: 25%;
            left: 45vw;
        }

        &--stamp {
            width: 12%;
            top: 68vh;
            left: 65vw;
        }

        &--capy_puppy, &--turtle_cookie, &--straw_cookies, &--capy_croco {
            width: 100%;
        }

        &--flower {
            right: 35vw;
            top: 23vh;
            width: 10%;
        }

        &--toaster {
            left: 30vw;
            top: 55vh;
            width: 10%;
        }
    }
}