.background {
    position: relative;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(255,255,255,0.5);
    background-image: url("./assets/images/dotted_paper_bg.svg");
    background-size: contain;
    background-blend-mode: lighten;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main_grid {
    $self: &;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;

    &--header_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--icons_area {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 15px;
    }

    &--bottom_area {
        display: flex;
        flex-direction: row;
        height: 10vh;
        align-items: center;
        justify-content: center;
    }
}

.sound_area {
    $self: &;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &--sound_widget {
        width: 50%;
    }
}

.app_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon_name {
    font-family: "Satoshi";
    font-size: 13px;
    font-weight: bold;
    color: #ab8568;
    text-align: center;
    margin: 3px;
}

.time {
    font-family: "Satoshi";
    font-size: 55px;
    font-weight: 900;
    color: #a3b87f;
    margin-bottom: -10px;
}

.date {
    font-family: "Satoshi";
    font-size: 18px;
    font-weight: bold;
    color: #a3b87f;
}

.icon_group_A {
    $self: &;

    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
    
    &--dvd_widget {
        width: 85%;
    }

    &--icon_grid {
        $self: &;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        align-items: center;
        justify-items: center;

        &--toaster, &--clover_sticker, &--straw_cookies {
            width: 70%;
        }

        &--coffee {
            width: 80%;
        }
    }
}

.icon_group_B {
    $self: &;

    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    
    &--digicam_widget {
        width: 100%;
        align-self: center;
    }

    &--lillypad_widget {
        width: 70%;
    }
}

.calico_critters {
    width: 40%;
    align-self: center;
}

.bar_area {
    $self: &;

    background-color: rgb(234, 225, 207);
    height: 80%;
    width: 70%;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &--logo_link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &--logo, &--turtle_cookie, &--capy_and_puppy {
        height: 100%;
        width: auto;
    }
}